# JWT
app.jwt.secret=
app.jwt.expiration-ms=

# Email
spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=

# Google
google.clientId=
google.clientSecret=
google.redirectUri=http://localhost:8080/api/auth/google/callback
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true